-var loginClass = 'login-container js-login-container';
-loginClass = user.isLogged ? loginClass +' user-logged' : loginClass;

div(class=loginClass)
	-if(user.isLogged)
		a.js-fb-logOut.fb-log
			img(src="/img/fs_signOut.png", )
	-else
		a.js-fb-logIn.fb-log
			img(src="/img/fs_signIn.png", )
	-if(user.isLogged)
		div.user-info
			img.user-img(src="#{user.avatar}", title="#{user.name}", title="#{user.name}")
			span.user-name.hidden=user.name
	script.
		var FBappId = '#{cf.FBappId}';